@import 'colors.css';

/* ========== GENERAL ========= */
body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--primary-text-color);
    background-color: #ffffff;
    overflow: auto;
    flex-direction: column;
}

/* ===================== UNIVERSAL ===================== */

/* =================== NAVBAR ================= */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 20px 0px 10px 10px;
    background-color: var(--primary-color);
    border-bottom: 0px solid #f4f4f4;
    width: 100%;
}


/* ================ NAVBAR - ICONS =================*/
#logo img {
    height: 55px;
    margin-bottom: 40px;
}

#cart img {
    height: 40px;
    margin-bottom: 40px;
    padding-right: 40px;
}

#account-icon img {
    height: 40px;
    padding-right: 20px;
    margin-bottom: 40px;
}

#round-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: rgb(18, 132, 20);
    color: white;
    position: absolute;
    right: 20px;
    top: 10px;
    border-radius: 50%;
}

/* =============== NAVBAR - NAV. ITEMS =================*/

#navigation {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

#right-nav {
    display: flex;
    flex-direction: row;
    max-width: 300px;
    align-items: left;
}

#left-nav {
    display: flex;
    flex-direction: row;
    width: 300px;
    align-items: left;
}

/* ================ NAVBAR - SEARCHBAR =================*/

#search {
    flex-grow: 2;
    width: 35%;
    margin: auto;
    max-height: 90%;
    padding: 10px;
    border: 2.5px solid var(--border-color);
    border-radius: 20px;
}

#search::placeholder {
    color: var(--primary-text-color);
    font-size: medium;
}

/* ================ NAVBAR - CATEGORIES =================*/

#categoriesList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#categoriesList li a:hover {
    text-decoration: underline;
}

#categoriesList li {
    float: left;
}

#categoriesList li a {
    display: block;
    color: var(--primary-text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*==================== LOGIN FORM ===================*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--primary-color);
    min-width: 200px;
    padding: 12px 16px;
    z-index: 1;
}

#login_button,
#register_button,
#update-cred-button {
    width: 80px;
    background-color: var(--button-color);
    border: 0px solid #ddd;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 10px;
}

#register_button {
    margin-left: 15%;
}

#login_button:hover,
#register_button:hover,
#update-cred-button:hover {
    background-color: var(--button-hover-color);
}

#password,
#email {
    border: 2.5px solid var(--border-color);
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 90%;
}

#account-link,
#logout-link {
    display: block;
    color: var(--primary-text-color);
    text-align: center;
    padding: 15px 0px 0px 0px;
    text-decoration: none;
}

#account-link:hover,
#logout-link:hover {
    text-decoration: underline;
}

/* =============== NAVBAR - USER NAME TAB ================== */
#user-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 40px;
    margin-top: 8px;
    min-width: 100px;
    text-align: right;
}

/* ===================== FOOTER ====================== */
footer {
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* ================== ACCOUNT PAGE ================ */

#account-email,
#account-name,
#account-password {
    border: 2.5px solid var(--border-color);
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 90%;
}

#cred-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#account-cred {
    width: 25%;
}

#name-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

#account-cred::placeholder {
    color: #000000;
}

/*====== orders ======*/

.order-summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 40%;
    border-bottom: 0.5px solid var(--border-color);
    width: 100%;
    padding-bottom: 15px;
}

.orders {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#show-order-button:hover {
    background-color: var(--button-hover-color);
}

#show-order-button {
    background-color: var(--button-color);
    border: 0px solid #ddd;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 10px;
    width: 150px;
    margin-right: 45%;
}

#order-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 40%;
    width: 100%;
    max-height: 300px;
    margin-bottom: 200px;
}

.product-item {
    display: flex;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.product-item img {
    width: 100px;
    /* adjust as needed */
    height: auto;
    /* maintain aspect ratio */
}

.product-name {
    display: flex;
    max-width: 60%;
    width: 100%;
    font-weight: bold;
    color: var(--primary-text-color);
    padding-left: 10px;
}

#total-price {
    font-weight: bold;
    margin-bottom: -15px;
}

.price {
    color: var(--primary-text-color);
    font-weight: bold;
    align-self: right;
    min-width: 5%;
}

.quantity {
    padding-left: 10px;
    color: var(--primary-text-color);
}