@import 'colors.css';


/* ========== GENERAL ========= */
body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--primary-text-color);
    background-color: #ffffff;
    overflow: auto;
    flex-direction: column;
}

#product_title {
    margin-left: 40px;
}

/* ========== UNIVERSAL ========= */

/* ===== NAVBAR ===== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 20px 0px 10px 10px;
    background-color: var(--primary-color);
    border-bottom: 0px solid #f4f4f4;
    width: 100%;
}

/* ===== ICONS =====*/
#logo img {
    height: 55px;
    margin-bottom: 40px;
}

#cart img {
    height: 40px;
    margin-bottom: 40px;
    padding-right: 40px;
}

#account-icon img {
    height: 40px;
    padding-right: 20px;
    margin-bottom: 40px;
}

#round-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: rgb(18, 132, 20);
    color: white;
    position: absolute;
    right: 20px;
    top: 10px;
    border-radius: 50%;
}

/* ===== NAVIGATION ITEMS ======*/

#navigation {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

#right-nav {
    display: flex;
    flex-direction: row;
    max-width: 300px;
    align-items: left;
}

#left-nav {
    display: flex;
    flex-direction: row;
    width: 300px;
    align-items: left;
}

/* ==== SEARCHBAR ====*/

#search {
    flex-grow: 2;
    width: 35%;
    margin: auto;
    max-height: 90%;
    padding: 10px;
    border: 2.5px solid var(--border-color);
    border-radius: 20px;
}

#search::placeholder {
    color: var(--primary-text-color);
    font-size: medium;
}

/* ==== CATEGORIES ====*/

#categoriesList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#categoriesList li a:hover {
    text-decoration: underline;
}

#categoriesList li {
    float: left;
}

#categoriesList li a {
    display: block;
    color: var(--primary-text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*==== login form ====*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--primary-color);
    min-width: 200px;
    padding: 12px 16px;
    z-index: 1;
}

#login_button,
#register_button {
    width: 80px;
    background-color: var(--button-color);
    border: 0px solid #ddd;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 10px;
}

#register_button {
    margin-left: 15%;
}

#login_button:hover,
#register_button:hover {
    background-color: var(--button-hover-color);
}

#password,
#email {
    border: 2.5px solid var(--border-color);
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 90%;
}

#account-link,
#logout-link {
    display: block;
    color: var(--primary-text-color);
    text-align: center;
    padding: 15px 0px 0px 0px;
    text-decoration: none;
}

#account-link:hover,
#logout-link:hover {
    text-decoration: underline;
}

/* ==== USERS NAME ==== */
#user-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 40px;
    margin-top: 8px;
    min-width: 100px;
    text-align: right;
}

/* ========== FOOTER ========= */
footer {
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}


/* ========== PAGE SPECIFIC ========= */

/* ===== PRODUCT CARD ===== */
.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 20px;
    background-color: #fcfcfc;
}

.product {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
    margin-left: 20px;
    max-width: 250px;
    background-color: #ffffff;
}

.product:hover {
    box-shadow: 0 0 10px #e4e4e4;
}

.product img {
    width: 200px;
    height: 200px;
    margin-right: 10px;
}

.product .name {
    font-weight: bold;
    color: var(--primary-text-color);
}

.product .price {
    color: var(--primary-text-color);
    margin-bottom: -10px;
}

.lager-status {
    color: var(--primary-text-color);
}

.product a {
    text-decoration: none;
}

#no-results-text {
    margin-left: 48%;
}

/*===== AVERAGE RATING ======*/
.average_rating {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: -15px;
    margin-bottom: 10px;
    color: var(--primary-text-color);
}