<!DOCTYPE html>
<html>

<head>
    <title>{{user.name}}</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/account.css') }}">
    <!-- Link to the JavaScript file -->
    <script src="{{ url_for('static', filename='JS/account.js') }}" defer></script>
    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- other devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!--- =========== HEADER =========== -->

<header>
    <!------ HEADER BANNER ------>
    <div id="header-banner">
        <p>Free shipping over $50</p>
        <p>30 day returns</p>
        <p>Monthly deals</p>
    </div>

    <!------ LOWER HEADER SECTION ------>
    <div id="lower-header">

        <!------ LEFT NAVIGATION ------>

        <div id="left-nav">
            <a href="#" id="logo"><i class="fas fa-home"></i></a>
        </div>

        <!------ MIDDLE NAVIGATION ------>
        <div id="navigation">

            <input type="search" id="search" placeholder="Search for a product">

            <nav>
                <ul id="categoriesList">
                    <li><a href="#">T-SHIRTS</a></li>
                    <li><a href="#">PANTS</a></li>
                    <li><a href="#">SHOES</a></li>
                    <li><a href="#">SOCKS</a></li>
                    <li><a href="#">TOYS</a></li>
                    <li><a href="#">MUSIC</a></li>
                    <li><a href="#">MISC</a></li>
                </ul>
            </nav>
        </div>

        <!------ RIGHT NAVIGATION ------>
        <div id="right-nav">
            <div id="right-header-content">

                <button id="console-button">Console</button>

                <span id="user-name"><!-- users name will be displayed here --></span>

                <!------ LOGIN DROPDOWN ------>
                <div class="dropdown">

                    <a id="account-icon"><i class="fas fa-user"></i></a>

                    <div id="loginDropdown" class="dropdown-content">

                        <form id="loginForm">
                            <label for="email">Email:</label>
                            <br>
                            <input type="email" id="email" name="email" required>
                            <label for="password">Password:</label>
                            <br>
                            <input type="password" id="password" name="password" required>
                            <input id="login_button" type="submit" value="Login">
                            <input id="register_button" type="button" value="Register">
                        </form>

                        <a id="account-link" href="#">My account</a>

                        <a id="logout-link" href="/">Logout</a>
                    </div>
                </div>

                <a href="#" id="cart"><i class="fas fa-shopping-cart"></i></a>

                <div id="round-div">0</div>
            </div>
        </div>
    </div>
</header>

<!--- >>>>>>> PRODUCT SPECIFIC ELEMENTS <<<<<<< -->

<body>
    <!------ ACCOUNT CREDENTIALS ------>
    <div class="account-info">
        <div id="userID" data-user-id="{{user.id}}"></div>
        <div id="name-container">
            <h1>{{user.name}}</h1>
        </div>
        <div id="cred-container">
            <form id="account-cred">
                <label for="name">Name:</label><br>
                <input type="text" id="account-name" name="name" placeholder="new name"><br>
                <label for="email">Email:</label><br>
                <input type="email" id="account-email" name="email" placeholder="new email"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="account-password" name="password" placeholder="New password"><br>
                <input type="submit" id="update-cred-button" value="Update">
            </form>
        </div>
    </div>

    <!------ ORDERS ------>
    <div id="orders" class="content-section">
        <div class="order-title">
            <h2>Your orders:</h2>
        </div>
        {% for order, user in orders %}
        <div class="order-container">
            <h3>User: {{ user.name }} - Order ID: {{ order.id }}</h3>
            <div class="order-details">
                <p>Order Date: {{ order.order_date }}</p>
                <p>Shipping: {{ order.shipping_address }}, {{ order.shipping_country }}</p>
                <p>Products:</p>
                <ul>
                    {% for order_item in order.Completed_order_item %}
                    <li>{{ order_item.product.name }} - {{ order_item.price }} (Quantity: {{ order_item.quantity
                        }})</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>

    <!---- ERROR CONTAINER ---->
    <div id="error-message">
        <p> </p>
    </div>
</body>

<!--- =========== FOOTER =========== -->
<footer>
    <p>© 2022 Shreek shop. All rights reserved.</p>
</footer>

</html>
