<!DOCTYPE html>
<html>

<head>
    <!-- Link to the JavaScript file -->
    <script src="{{ url_for('static', filename='JS/homepage.js') }}" defer></script>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/homepage.css') }}">
    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- other devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!--- =========== HEADER =========== -->

<header>
    <!------ HEADER BANNER ------>
    <div id="header-banner">
        <p>Free shipping over $50</p>
        <p>30 day returns</p>
        <p>Monthly deals</p>
    </div>

    <!------ LOWER HEADER SECTION ------>
    <div id="lower-header">

        <!------ LEFT NAVIGATION ------>

        <div id="left-nav">
            <a href="#" id="logo"><i class="fas fa-home"></i></a>
        </div>

        <!------ MIDDLE NAVIGATION ------>
        <div id="navigation">

            <input type="search" id="search" placeholder="Search for a product">

            <nav>
                <ul id="categoriesList">
                    <li><a href="#">T-SHIRTS</a></li>
                    <li><a href="#">PANTS</a></li>
                    <li><a href="#">SHOES</a></li>
                    <li><a href="#">SOCKS</a></li>
                    <li><a href="#">TOYS</a></li>
                    <li><a href="#">MUSIC</a></li>
                    <li><a href="#">MISC</a></li>
                </ul>
            </nav>
        </div>

        <!------ RIGHT NAVIGATION ------>
        <div id="right-nav">
            <div id="right-header-content">

                <button id="console-button">Console</button>

                <span id="user-name"><!-- users name will be displayed here --></span>

                <!------ LOGIN DROPDOWN ------>
                <div class="dropdown">

                    <a href="#" id="account-icon"><i class="fas fa-user"></i></a>

                    <div id="loginDropdown" class="dropdown-content">

                        <form id="loginForm">
                            <label for="email">Email:</label>
                            <br>
                            <input type="email" id="email" name="email" required>
                            <label for="password">Password:</label>
                            <br>
                            <input type="password" id="password" name="password" required>
                            <input id="login_button" type="submit" value="Login">
                            <input id="register_button" type="button" value="Register">
                        </form>

                        <a id="account-link" href="#">My account</a>

                        <a id="logout-link" href="#">Logout</a>
                    </div>
                </div>

                <a href="#" id="cart"><i class="fas fa-shopping-cart"></i></a>

                <div id="round-div">0</div>
            </div>
        </div>
    </div>
</header>

<!--- >>>>>>> PRODUCT SPECIFIC ELEMENTS <<<<<<< -->

<body>

    <!------ NAME TITLE ------>
    <div class="shreek">
        <div class="shont">Shreek</div>
        <img class=shreek-logo src="{{ url_for('static', filename='images/admin/shrek_logo.png') }}" alt="Shrek Logo">
    </div>


    <!------ NEW ARRIVALS ------>
    <h1 class="new-arrivals-heading">New Arrivals</h1>
    <div class="card-container">
        <div class="card">
            <a href="{{ url_for('Specific_Product', id=new_arrivals[0].id) }}">
                <img class="card-img-top" src="{{ url_for('static', filename=new_arrivals[0].image )}}"
                    alt="Card image cap">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{new_arrivals[0].name}}</h5>
                <p class="card-text">{{new_arrivals[0].price}} SEK</p>
            </div>
        </div>
        <div class="card">
            <a href="{{ url_for('Specific_Product', id=new_arrivals[1].id) }}">
                <img class="card-img-top" src="{{ url_for('static', filename=new_arrivals[1].image )}}"
                    alt="Card image cap">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{new_arrivals[1].name}}</h5>
                <p class="card-text">{{new_arrivals[1].price}} SEK</p>
            </div>
        </div>
        <div class="card">
            <a href="{{ url_for('Specific_Product', id=new_arrivals[2].id) }}">
                <img class="card-img-top" src="{{ url_for('static', filename=new_arrivals[2].image )}}"
                    alt="Card image cap">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{new_arrivals[2].name}}</h5>
                <p class="card-text">{{new_arrivals[2].price}} SEK</p>
            </div>
        </div>
        <div class="card">
            <a href="{{ url_for('Specific_Product', id=new_arrivals[3].id) }}">
                <img class="card-img-top" src="{{ url_for('static', filename=new_arrivals[3].image )}}"
                    alt="Card image cap">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{new_arrivals[3].name}}</h5>
                <p class="card-text">{{new_arrivals[3].price}} SEK</p>
            </div>
        </div>
        <div class="card">
            <a href="{{ url_for('Specific_Product', id=new_arrivals[4].id) }}">
                <img class="card-img-top" src="{{ url_for('static', filename=new_arrivals[4].image )}}"
                    alt="Card image cap">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{new_arrivals[4].name}}</h5>
                <p class="card-text">{{new_arrivals[4].price}} SEK</p>
            </div>
        </div>
        <div class="card">
            <a href="{{ url_for('Specific_Product', id=new_arrivals[5].id) }}">
                <img class="card-img-top" src="{{ url_for('static', filename=new_arrivals[5].image )}}"
                    alt="Card image cap">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{new_arrivals[5].name}}</h5>
                <p class="card-text">{{new_arrivals[5].price}} SEK</p>
            </div>
        </div>
    </div>

    <div class="colored-square"></div>

    <!------ ERROR MESSAGE ------>
    <div id="error-message">
        <p> </p>
    </div>
</body>

<!--- =========== FOOTER =========== -->

<footer>
    <p>© 2022 Shreek shop. All rights reserved.</p>
</footer>

</html>