<!DOCTYPE html>
<html>

<head>
    <title>{{product.name}}</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/show_product.css') }}">
    <!-- Link to the JavaScript file -->
    <script src="{{ url_for('static', filename='JS/show_product.js') }}" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!--- UNIVERSAL -->

<!-- The header contains the logo, search bar, user name, login form and cart -->
<header>
    <div id="left-nav">
        <!-- Logo -->
        <a href="#" id="logo"><img src="{{ url_for('static', filename='images/admin/home_icon.png') }}" alt="Logo"></a>
    </div>

    <!-- Navigation items-->
    <div id="navigation">
        <!-- Search bar -->
        <input type="search" id="search" placeholder="Search...">

        <!-- Categories -->
        <nav>
            <ul id="categoriesList">
                <li><a href="#">T-Shirts</a></li>
                <li><a href="#">Pants</a></li>
                <li><a href="#">Shoes</a></li>
                <li><a href="#">Socks</a></li>
                <li><a href="#">Toys</a></li>
                <li><a href="#">Music</a></li>
                <li><a href="#">Misc</a></li>
            </ul>
        </nav>
    </div>

    <!-- Login -->
    <div id="right-nav">
        <!-- Users name -->
        <span id="user-name"></span> <!-- Placeholder for the user's name -->

        <!-- Login dropdown -->
        <div class="dropdown">
            <!-- login icon -->
            <a href="#" id="account-icon"><img src="{{ url_for('static', filename='images/admin/account_icon.png') }}"
                    alt="Account"></a>
            <!-- dropdown -->
            <div id="loginDropdown" class="dropdown-content">
                <form id="loginForm">
                    <label for="email">Email:</label>
                    <br>
                    <input type="email" id="email" name="email" required>
                    <label for="password">Password:</label>
                    <br>
                    <input type="password" id="password" name="password" required>
                    <input id="login_button" type="submit" value="Login">
                    <input id="register_button" type="button" value="Register">
                </form>
                <a id="account-link" href="#">My account</a>
                <a id="logout-link" href="#">Logout</a>
            </div>
        </div>

        <!-- cart icon -->
        <a href="#" id="cart"><img src="{{ url_for('static', filename='images/admin/cart_icon.png') }}" alt="Cart"></a>
    </div>
</header>

<!-- PRODUCT SPECIFIC -->

<!-- the product container contains the product image, name, description, price, quantity and add to cart button -->

<body>
    <div class="product-container" data-product-id="{{product.id}}">
        <!-- product image -->
        <img class="product-image" src="{{ url_for('static', filename=product.image) }}" alt="{{product.name}}">
        <!-- product info -->
        <div class="product-details">
            <h1>{{product.name}}</h1>
            <p id="average_rating">Average Rating: </p>
            <p>{{product.description}}</p>
            <p id="price_tag">{{product.price}} SEK </p>
            <form id="add-to-cart-form">
                <!-- <label for="quantity">Quantity:</label> -->
                <input type="number" id="quantity" name="quantity" min="1" max="{{product.quantity}}" value="1">
                <button id="create_orderItem_button" type="submit" data-id="{{product.id}}">Add to Cart</button>
            </form>
        </div>
        <!-- http response output window -->
        <div id="orderItem_creation_action_response"></div>
    </div>

    <div class="review-container" data-review-id="{{product.id}}">
        <!-- new review can be written here -->
        <form id="review-form">
            <label id="review_title" for="review">Review the product</label>
            <br>
            <textarea id="review" name="review" rows="4" cols="50" required></textarea>
            <br>
            <div id="rating-box">
                <label for="rating">Rating:</label><br>
                <input type="radio" id="1" name="rating" value="1">
                <label for="1">1</label><br>
                <input type="radio" id="2" name="rating" value="2">
                <label for="2">2</label><br>
                <input type="radio" id="3" name="rating" value="3">
                <label for="3">3</label><br>
                <input type="radio" id="4" name="rating" value="4">
                <label for="4">4</label><br>
                <input type="radio" id="5" name="rating" value="5">
                <label for="5">5</label><br>
            </div>
            <input id="create_review_button" type="submit" value="Submit">
        </form>
        <!-- reviews will be shown here -->
        <button id="reviewsButton">Show reviews</button>
        <br>
        <div id="reviewsDropdown" class="dropdown-review-content">
            <!-- Reviews will be added here -->
        </div>
    </div>

</body>

<!--- UNIVERSAL -->

<!-- The footer contains the copy right text -->
<footer>
    <p>© 2022 Shreek shop. All rights reserved.</p>
</footer>